each mantenimiento in mantenimientos
	tr(data-id=mantenimiento._id)
		td= mantenimiento.fechaString
		td= mantenimiento.tipo		
		td= mantenimiento.descripcion
		td= mantenimiento.odometro
		td= mantenimiento.coste.$numberDecimal